@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size, $min-logo-size, $max-logo-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);
  $u5: unit($min-logo-size);
  $u6: unit($max-logo-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media all and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media all and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
	
	@if $u1 == $u2 and $u1 == $u5 and $u1 == $u6 {
		svg#logo {
			width: $min-logo-size;
			@media all and (min-width: $min-vw) {
				width: calc(#{$min-logo-size} + #{strip-unit($max-logo-size - $min-logo-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    			height: auto;
    			padding: 0;
			}
			@media all and (min-width: $max-vw) {
				width: $max-logo-size;
    			height: auto;
    			padding: 0;
			} 
		}
	}
}